<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testng Suite" verbose="2" parallel="methods" thread-count="2">
<!-- <listeners>
<listener class-name="TestNG.ListnersMethod"></listener>
</listeners> -->
<test name ="testsuite5">
<classes>
<class name="TestNG.OrangeHRMLogin">
</class>
</classes>
</test>
</suite>